<html>

<head>
    <title>Prediction</title>
    <style>
        body {
            margin: 0;
            height: 100vh;
            display: flex;
            justify-content: center;
            align-items: center;
            background-color: black;
        }

        img {
            max-width: 100%;
            max-height: 100%;
            width: auto;
            height: auto;
            object-fit: contain;
        }
    </style>
</head>

<body>
    <img src="/video_feed" alt="Waiting predicted Image...">
</body>

</html>